nav{
    
    background-color: blue;
}

#colored-section{
    background-color: #1abc9c;
    color: white;
}
.image-container{
    width: 150px;
    height: 150px;
    background-color: red;
}

.test{
    height: 150px;
    border: 1px solid black;
}



.first-btn{
    border: 1px solid white;
    background-color: #1abc9c;
}

.second-btn{
    align-self: flex-start;
    background-color: #1abc9c;
    color: white;
}

.up-footer{
    background-color: #385068;
    color: white;
}

.bottom-footer{
    background-color: #27333f;
    color: white;
}