nav{
    
    background-color: blue;
}

#first-section{
    background-color: #1abc9c;
}
.image-container{
    width: 150px;
    height: 150px;
    background-color: red;
}

.test{
    height: 150px;
    border: 1px solid black;
}

#second-section{
    background-color: #1abc9c;
    color: white;
}

.custom-btn{
    border: 1px solid white;
    background-color: #1abc9c;
}